<h1 class="current-category"><%= params[:category] %></h1>
<% if @movies.count == 0 %>
	<h1>There are no books currently in this category</h1>
<% else %>
	<% @movies.each do |movie| %>
		<h1><%= link_to movie.title, movie_path(movie) %></h1>
	<% end %>
<% end %>