<% provide(:title, "Films") %>

<h1 class="current-category"><%= params[:category] %></h1>
<% if @movies.count == 0 %>
	<h1>There are no books currently in this category</h1>
<% else %>
<div class="row">
	<% @movies.each do |movie| %>
	<div class="col-md-3">
		<%= link_to image_tag(movie.image_url, class: "movie"), movie, class: "movie-index" %>
	</div>
	<% end %>
</di>
<% end %>